{% extends "base.html" %}
{% load static %}
{% block page_content %}

<head>
    <title>MSU SCES Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1">
</head>
<div class ="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Room</th>
                <th>Time</th>
                <th>Group</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            {% for Event in events %}
            <tr>
                <td>{{Event.room}}</td>
                <td>{{Event.timeStart}} - {{Event.timeEnd}}</td>
                <td>{{Event.group}}</td>
                <td>{{Event.name}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}